<!DOCTYPE html>

<html>
<head>
    <style>
        .form-custom {
            background-color: white;
            color: blueviolet;
            margin: 20px;
            padding: 20px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Merged Forms Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="~/css/login.css" type="text/css" media="all" />
</head>
<body>
    <div>

        @RenderBody()
    </div>

    @if (TempData["LoginError"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Login Error");
            };
        </script>
    }

</body>
</html>
