
@{
    ViewData["Title"] = "Semester";
    Layout = "~/Views/_GeneralLayout.cshtml";
}

@{
    var hocky = (HocKy)ViewData["Student"];
}
<script language="javascirpt" type="text/javascript">
    function GetTb(_hkid) {
        var procemessage = "<tr>";
        procemessage += "<td>69</td>"
        procemessage += "<td>ai</td>"
        procemessage += "</tr>";
        $("#mytable tbody").html(procemessage).show();
        @*var url = "@Url.Action("GetDistById")";

        $.ajax({
            url: url,
            data: { id: _hkid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option>Chọn quận/huyện</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#table").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });*@
    }
</script>
<div class="sidenav" style="padding-top:60px">
    <a asp-action="Semester" class="w3-bar-item w3-button">Xem điểm</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>

</div>

<div style=" margin-left:15%; padding-top:60px">
    <div style="background-color:white; padding:20px;">
        <p style="line-height: 1.8" />
        <h2 style="text-align:center">Bảng điểm</h2>
        <br />
        <div class="row" style="height:auto">
            <div class="col-md-4"></div>
            <div class="col-md-2">Nhập học kỳ:</div>
            <div class="col-md-2">
                <select class="form-control" id="select_hk" onchange="javascript:GetTb(this.value)">
                    @*@foreach (var sem in data)
                        {*@
                    <option value="1">Test</option>
                    <option value="2">AA</option>
                    @*}*@
                </select>
            </div>
        </div>
        <br />
        <table style="width:100%" id="mytable" class='table table-bordered table-condensed table-hover'>
            <thead>
                <tr>
                    <th width="10%" rowspan="2">Môn học</th>
                    <th width="45%" colspan="3">Học kỳ I</th>
                    <th width="45%" colspan="3">Học kỳ II</th>
                </tr>
                <tr>
                    <th>Miệng</th>
                    <th>GK</th>
                    <th>CK</th>
                    <th>Miệng</th>
                    <th>GK</th>
                    <th>CK</th>
                </tr>
            </thead>
            <tbody>
                <tr id="table-row">
                    <td>Kỳ vậy ta</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
</div>

