
@{
    ViewData["Title"] = "StudentView";
    Layout = "~/Views/_InfoLayout.cshtml";
}

@{ 
    var data = (Users)ViewData["Student"];
}

<div class="agileits-wrap">
    <h1>Thông Tin</h1>
    <div class="content">
        <p>Thông tin của học sinh</p>
        <form action="#" medthod="post">
            <div class="examples">
                @*<select name="country">
                    <option value="none" selected="" disabled="">Title</option>
                    <option value="Tittle">Title-1</option>
                    <option value="Tittle">Title-2</option>
                    <option value="Tittle">Title-3</option>
                    <option value="Tittle">Title-4</option>
                    <option value="Tittle">Title-5</option>
                </select>*@
                <div class="w3l-left-grid">
                    <label>Họ Tên</label>
                    <input type="text" name="name" required="" value= "@data.HoTen"  disabled/>
                    @*<label>Địa chỉ</label>
                    <input type="text" name="email" required="" value= "@data.DiaChi" disabled/>*@
                </div>
                <div class="w3l-left-grid w3-ls">

                    @*<label>Lớp</label>
                    <input type="text" name="phone" required="" value= "@data.TenLop" disabled/>
                    <label>Số ĐIện Thoại</label>
                    <input type="text" name="inquiry" required="" value= "@data.SDT"  disabled/>*@

                </div>
                <div class="clear"> </div>
            </div>
        </form>
    </div>
    <div class="wthree-footer">
        <p>© 2019 QLHV - UIT</p>
    </div>
</div>

