
@{
    ViewData["Title"] = "StudentView";
    //Layout = "~/Views/_InfoLayout.cshtml";
}

@{
    var data = (Users)ViewData["Student"];
}

<div class="sidenav" style="padding-top:60px">
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div style=" margin-left:15%; padding-top:60px">
    <div style="background-color:white; padding:20px;">
        <h2 style="text-align:center">Thông tin học sinh</h2>
        <br />
        <div class="row">
            <div class="col-md-2">Họ tên:</div>
            <div class="col-md-2">@data.HoTen</div>
            <div class="col-md-2">Lớp:</div>
            <div class="col-md-2"></div>
            <div class="col-md-2">Giới tính:</div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Ngày sinh:</div>
            <div class="col-md-4"></div>
            <div class="col-md-2">Dân tộc:</div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Số điện thoại:</div>
            <div class="col-md-4"></div>
            <div class="col-md-2">Chế độ:</div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Địa chỉ thường trú:</div>
            <div class="col-md-10"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Địa chỉ hiện tại:</div>
            <div class="col-md-10"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Họ tên cha:</div>
            <div class="col-md-2"></div>
            <div class="col-md-1">SĐT:</div>
            <div class="col-md-3"></div>
            <div class="col=md-2">Nghề nghiệp:</div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Họ tên mẹ:</div>
            <div class="col-md-2"></div>
            <div class="col-md-1">SĐT:</div>
            <div class="col-md-3"></div>
            <div class="col=md-2">Nghề nghiệp:</div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2">Họ tên người giám hộ:</div>
            <div class="col-md-2"></div>
            <div class="col-md-1">SĐT:</div>
            <div class="col-md-3"></div>
            <div class="col=md-2">Nghề nghiệp:</div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr />
</div>

