
@{
    ViewData["Title"] = "ScoreAdd";
    Layout = "~/Views/_GeneralLayout.cshtml";
}


@{
    var data = (GiaoVien)ViewData["Teacher"];
}


<div class="sidenav" style="padding-top:60px">
    <a asp-action="TeacherView" class="w3-bar-item w3-button">Thông tin</a>
    <a asp-action="ScoreAdd" class="w3-bar-item w3-button">Thêm điểm</a>
    <a asp-action="ScoreEdit" class="w3-bar-item w3-button">Sửa điểm</a>
</div>

<div style=" margin-left:15%; padding-top:60px">
    <div style="background-color:white; padding:20px;">
        <p style="line-height: 1.8" />
        <h2 style="text-align:center">Thêm điểm</h2>
        <br />
        <div class="col-md-4"></div>
        <div class="col-md-2">Nhập học sinh cần sửa điểm:</div>
        <div class="col-md-2">
            <form action="GeSomething" method="post">
                <select class="form-control" id="select_hk" @*onchange="javascript:GetTb(this.value)" *@ name="Year" onchange="this.form.submit()">
                    <option value="" selected disabled hidden>Chọn</option>
                    @{
                    }
                </select>
            </form>
        </div>
    </div>
    <hr />
</div>
