
@{
    ViewData["Title"] = "TeacherView";
    Layout = "~/Views/_GeneralLayout.cshtml";
}
@{
    var data = (GiaoVien)ViewData["Teacher"];
}


<div class="sidenav" style="padding-top:60px">
    <a asp-action="Semester" class="w3-bar-item w3-button">Thêm điểm</a>
    <a href="#" class="w3-bar-item w3-button">Sửa điểm</a>

</div>

<div style=" margin-left:15%; padding-top:60px">
    <div style="background-color:white; padding:20px;">
        <p style="line-height: 1.8" />
        <h2 style="text-align:center">Thông tin học sinh</h2>
        <br />
        <div class="row">
            <div class="col-md-2">Họ tên:</div>
            <div class="col-md-2"></div>
            <div class="col-md-2">Môn giảng dạy:</div>
            <div class="col-md-2"></div>
            <div class="col-md-2">Số điện thoại</div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr />
</div>


