
@{
    ViewData["Title"] = "ScoreAdd";
    Layout = "~/Views/_GeneralLayout.cshtml";
}


@{
    var data = (GiaoVien)ViewData["Teacher"];
    List<string> hocky = (List<string>)ViewData["HocKy"];
    List<HocSinh> hs = (List<HocSinh>)ViewData["Student"];
}


<div class="sidenav" style="padding-top:60px">
    <a asp-action="TeacherView" class="w3-bar-item w3-button">Thông tin</a>
    <a asp-action="ScoreAdd" class="w3-bar-item w3-button">Thêm điểm</a>
    <a asp-action="ScoreEdit" class="w3-bar-item w3-button">Sửa điểm</a>
</div>

<div style=" margin-left:15%; padding-top:60px">
    <div style="background-color:white; padding:20px;">
        <p style="line-height: 1.8" />
        <h2 style="text-align:center">Thêm điểm</h2>
        <form action="GetScoreAdd" method="post" class="signin-form">

            <div class="row" style="height:auto">
                <div class="col-md-3"></div>
                <div class="col-md-3">Nhập học sinh cần thêm điểm:</div>
                <div class="col-md-3">
                    <select class="form-control" id="select_hk" name="Ten">
                        <option value="" selected disabled hidden name="Ten">Chọn</option>
                        @foreach (var hocsinh in hs)
                        {
                            <option value="@hocsinh.HoTen">@hocsinh.HoTen-@hocsinh.TenLop</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row" style="height:auto">
                <div class="col-md-3"></div>
                <div class="col-md-3">Chọn hình thức kiểm tra:</div>
                <div class="col-md-3">
                    <div>
                        <select class="form-control" id="select_nam" name="HinhThuc">
                            <option value="" selected disabled hidden name="HinhThuc">Hình Thức</option>
                            <option value="Miệng">Miệng</option>
                            <option value="GK">Giữa Kỳ</option>
                            <option value="CK">Cuối Kỳ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="height:auto">
                <div class="col-md-3"></div>
                <div class="col-md-3">Chọn học kỳ:</div>
                <div class="col-md-3">
                    <select class="form-control" id="select_hk" name="HK">
                        <option value="" selected disabled hidden name="HK">Học Kỳ</option>
                        @foreach (var hk in hocky)
                        {
                            <option value="@hk">@hk</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row" style="height:auto">
                <div class="col-md-3"></div>
                <div class="col-md-3">Ngày kiểm tra:</div>
                <div class="col-md-3">
                    <input class="form-control" type="date" name="NgayKT">
                </div>
            </div>
            <div class="row" style="height:auto">
                <div class="col-md-3"></div>
                <div class="col-md-3">Điểm:</div>
                <div class="col-md-3">
                    <input class="form-control" type="text" name="Diem" placeholder="Điểm" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="form-input forms-gds col-md-2"><button class="btn">Xác Nhận</button></div>
            </div>
        </form>
        <hr />
    </div>
</div>

@if (TempData["Add"] != null)
{
    @if (TempData["Add"] == "Fail")
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Không thành công");
            };
        </script>
    }

    else
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Thêm Điểm thành công");
            };
        </script>
    }

}
