<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" type="text/css" asp-fallback-href="~/css/w3.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- //Meta tag Keywords -->

    <link rel="stylesheet" href="~/css/login.css" type="text/css" media="all" />
</head>
<body>
    <div>

        @RenderBody()
    </div>

    @if (TempData["LoginError"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Sai tên đăng nhập hoặc mật khẩu");
            };
        </script>
    }

</body>
</html>
