
@{
    ViewData["Title"] = "Index";
}

            <div class="navbar">This Is for Testing</div>
            <div class="form-custom">
                Testing.
                <br />
                Try to do something.
            </div>