
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/_GeneralLayout.cshtml";
}

<div style=" margin-left:15%; padding-top:60px">
    <div style="background-color:white; padding:20px;">
        <p style="line-height: 1.8" />
        <h2 style="text-align:center">Đồ Án OOAD - Quản Lý Học Vụ</h2>
        <br />
        <p>Nguyễn Trường Khoa Nguyên - 17520827</p>
        <p>Bùi Đăng Huy - 17520563</p>
        <p>Phạm Huỳnh Tấn Đạt - 17520338</p>
        <p><a href="https://github.com/JackPham1999/OOAD_Quan_ly_hoc_vu">Bấm : GitHub Đồ Án</a></p>

</div>
    <hr />
</div>

